<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>JPayroll</display-name>
	<listener>
		<description>HibernateListener</description>
		<listener-class>com.jpy.common.listener.HibernateListener</listener-class>
	</listener>
	
	<servlet>
		<display-name>ResourceServlet</display-name>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>com.sap.ui5.resource.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/test-resources/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>jerseyws</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>

		<init-param>
			<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
			<param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
		</init-param>

		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.jpy.masterdata.rest,
					     com.jpy.wagetype.rest,
					     com.jpy.schema.rest
			</param-value>
		</init-param>
		<init-param>
	        <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
	        <param-value>true</param-value>
    	</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jerseyws</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>com.sap.ui5.resource.DEV_MODE</param-name>
		<param-value>true</param-value>
	</context-param>
	
	
	<filter>
		<display-name>CacheControlFilter</display-name>
		<filter-name>CacheControlFilter</filter-name>
		<filter-class>com.sap.ui5.resource.CacheControlFilter</filter-class>
	</filter>
	<filter>
		<description>
		Rest filter</description>
		<display-name>RestFilter</display-name>
		<filter-name>RestFilter</filter-name>
		<filter-class>com.jpy.common.filter.RestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.xml</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestFilter</filter-name>
		<servlet-name>jerseyws</servlet-name>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>