.rule_row_btn a{
	display: inline-block;
	width: 80px;
	height: 20px;
}

.rule_editor_row{
	width:100%;
	height:100%;
	line-height:30px;
	background:#f3f3f3;
	margin-top:1px;
	border-bottom:1px solid #ccc;
}

.rule_row_seq span{
	display: inline-block;
    padding-left: 10px;
}

.rule_row_content input{
	height:100%;
}